<div class="fields">
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'New-Bn-Name', input_html: { class: "span2" } %>
    <%= link_to_remove_fields "remove", f, { class: 'btn btn-mini btn-warning' } %>
  </p>
</div>
