
<div class="fields">
  <div class="well">
    <a data-target="#myModal" role="button" class="btn pull-right" data-toggle="modal"><i class="icon-th-list"></i></a>
    <fieldset>
      <legend>Division: <%= "#{f.object.name}" unless f.object.name.nil? %> </legend>
      <p >
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'New-Div-Name', input_html: { class: "span2" } %>
        <%= link_to_remove_fields "remove", f, { class: 'btn btn-mini btn-warning' } %>
      </p>
    </fieldset>

  </div>
</div>