<div class="row">

  <div class="span1"></div>
  <div class="span10" id="army_fields">
    <h1>Edit <%= @army.name %></h1>
    <%= render('form')%>
  </div>
  <div class="span1"></div>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Unit Classes</h3>
  </div>
  <div class="modal-body">
    <%= render 'unitpane' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>